<footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <br>
    <a class="icoFacebook" href="https://www.facebook.com/pages/Joia-da-Europa/259949700834272" target="_blank" align="right">
      <i class="fa fa-facebook-official" style="font-size:36px"></i>
    </a>

    <br>
    <%= link_to 'PT', '?lang=pt' %>
    <span>|</span>
    <%= link_to 'EN', '?lang=en' %>
    <br>
    <p>Joia da Europa Unipessoal.LDA @Webdesign by:  PDSG5</p>
</footer>

<!--<a class="social-links" href="https://www.facebook.com/pages/Joia-da-Europa/259949700834272" target="_blank" align="right">-->