<footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
      <i class="icon-facebook" href="https://www.facebook.com/pages/Joia-da-Europa/259949700834272"></i>
    </a><br><br>
    <p>Joia da Europa Unipessoal.LDA @Webdesign by:  PDSG5</p>
</footer>

