<div class="container">
    <%= form_for @order, :url => url_for(:controller => 'client_area', :action => 'save_order'), html: {class: 'container'} do |f| %>
  <h2>New Order</h2>
  <div class="col-sm-13">
    <li>Preço:</li>
    <tr><input type="text" name="nome" size="10"> <br /></tr>
  </div>
  <div class="fileinputs">
    <li>Escolher ficheiro:</li>
    <input type="file" class="file">
  </div>
  <div>
    <li>Data de Entrega:</li>
    <li>
      <div class="input-group date">
          <%= f.text_field :payment_date, :id => 'datepicker', :value => Date.today %>
      </div>
  </div>
  <div>
    <li>OBS:</li>
    <textarea name="obs" cols=50 rows=10>isto é uma area de texto</textarea>
  </div>
  <div>
    <input type="button" name="create_order" value="Criar Encomenda">
  </div>
        <%= f.submit t('save') %>
    <% end %>
</div>


<script>
    $('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>