<h1>ClientArea#new_order</h1>
<p>Find me in app/views/client_area/new_order.html.erb</p>

<div class="container">
  <h2>New Order</h2>
  <div class="col-sm-13">
    <li>Preço:</li>
    <tr><input type="text" name="nome" size="10"> <br /></tr>
  </div>
  <div class="fileinputs">
    <li>Escolher ficheiro:</li>
    <input type="file" class="file">
  </div>
  <div>
    <li>Data de Entrega:</li>
    <li><input type="datetime">dd/mm/aaaa</li> <!--<= f.text_field :date_of_tour, "data-provide" => 'datepicker' %>-->
  </div>
  <div>
    <li>OBS:</li>
    <textarea name="obs" cols=50 rows=10>isto é uma area de texto</textarea>
  </div>
  <div>
    <input type="button" name="create_order" value="Criar Encomenda">
  </div>
</div>